#!/usr/bin/env bash

mysql -u user -ppassword freeradius <<EOF
INSERT INTO radcheck (username,attribute,op,value) VALUES ('{{ name }}','Cleartext-Password',':=','{{ password }}');
INSERT INTO radusergroup (username,groupname,priority) VALUES ('{{ name }}','ipsec',1);
INSERT INTO radreply (username, attribute,op,value) VALUES ('{{ name }}','Cisco-AVPair','+=','{{ key }}');
INSERT INTO radreply (username, attribute,op,value) VALUES ('{{ name }}','Cisco-AVPair','+=','ipsec:route-set=local ipv4 {{ local_route }} {{ int_mask }}');
INSERT INTO userinfo (username,creationdate,creationby) VALUES ('{{ name }}',{{ d }},'administrator')
EOF
